@import "../colours.scss";

.tileHolder {
  display: flex;
  flex-grow: 4;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;

  .tile4,
  .tile6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    background-image: linear-gradient(
      to top,
      $secondary 10%,
      $secondary-border
    );
    border: 1px solid $secondary-border;
    color: transparent;
    @if ($devMode== "true") {
      color: $tile-dev-background;
    }

    font-size: x-large;
    cursor: pointer;
    margin: 4px;
    border-radius: 20px;
    animation-name: fadeIn;
    animation-duration: 2s;
    &.focus {
      background-color: $secondary;
      background-image: linear-gradient(
        to bottom,
        $primary 10%,
        $primary-border
      );
      border: 1px dotted $secondary-border;
      color: $tile-text;
      &.spin {
        animation-name: spin;
        animation-duration: 0.5s;
      }
    }
  }

  .tile4 {
    min-width: 22%;
    height: 20vh;
  }
  .tile6 {
    min-width: 14%;
    height: 15%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  100% {
    transform: rotateX(180deg);
  }
}
