@import "../../colours.scss";
@import "../../styles/tile.scss";
@import "../../styles/input.scss";

.newGame{
  background: $background;
  background-image: $newGame-Background;  
  height: 100%;
}

.groupSection {
  font-size: x-large;
  font-weight: 700;
  border: 1px solid $groupSection-border;
  padding: 4px;
  align-items: center;
  margin: 4px;
  margin-top: 50px;
}

.player {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.offset {
  position: relative;
  top: -20px;
  border: 1px solid  $primary-border;
  background-color: $primary;
  display: inline;
}

.game {
  display: flex;
  width: 100%;
  height: 100%;
}
.stats {
  background-color: $stats-Background;
  flex-grow: 1;
  padding: 4px;
  width: 270px;
}

@media screen and (max-width: 375px) {
  .game {
    flex-direction: column;
  }
  .stats {
    width: 100%;
  }
}
