@import "../../colours.scss";

.newGame{
  background: $background;
  background-image: $newGame-Background;  
  height: 100%;
}
.inputGroup {
  display: flex;
  padding: 4px;
  align-items: center;
}
.inputLabel {
  font-weight: 700;
  padding: 4px;
  width: 100%;
  display: inline;
}

input {
  border: 1px solid $primary-border;
  border-radius: 4px;
}

.groupSection {
  font-size: x-large;
  font-weight: 700;
  border: 1px solid $groupSection-border;
  padding: 4px;
  align-items: center;
  margin: 4px;
  margin-top: 50px;
}

.player {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.offset {
  position: relative;
  top: -20px;
  border: 1px solid  $primary-border;
  background-color: $primary;
  display: inline;
}

.game {
  display: flex;
  width: 100%;
  height: 100%;
}
.stats {
  background-color: $stats-Background;
  flex-grow: 1;
  padding: 4px;
  width: 270px;
}
.tileHolder {
  flex-grow: 4;
  background-color: $stats-Background;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
  height: 95%;
  flex-wrap: wrap;
  padding: 16px;

  .tile4,
  .tile6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tile-background;
    color:  $tile-background;
    @if($devMode=='true')
    {
      color:  $tile-dev-background;
    }

    
    font-size: x-large;
    cursor: pointer;
    margin: 4px;
    border-radius: 20px;
    &.focus {
      background-color: $tile-focus-background;
      color: $tile-text;
    }
  }

  .tile4 {
    min-width: 22%;
    height: 20vh;
  }
  .tile6 {
    min-width: 14%;
    height: 15%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  .game {
    flex-direction: column;
  }
  .stats {
    width: 100%;
  }
}
