
.card {
    display: flex;
    flex-direction: column;
    background-color: peachpuff;
    max-width: 200px;
    padding: 16px;
    margin: 4px;
    header {
      font-weight: 700;
    }
    .container {
    }
    .footer {
      display: flex;
    }
  }
  