@import "../../colours.scss";

.card {
  display: flex;
  flex-direction: column;
  background-color: $history-card-background;
  animation-name: fadeIn;
  animation-duration: 4s;
  max-width: 200px;
  padding: 16px;
  margin: 4px;
  height: fit-content;
  header {
    font-weight: 700;
  }
  .container {
  }
  .footer {
    display: flex;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
