@import "./colours.scss";

.card {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  background-image: linear-gradient(to top, $secondary 10%, $primary);
  border: 1px solid $history-card-background;
  animation-name: fadeIn;
  animation-duration: 4s;
  width: 200px;
  height: 200px;
  padding: 16px;
  margin: 4px;
  header {
    font-weight: 700;
  }

  .container {
    overflow: scroll;
  }

  .footer {
    display: flex;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
