$black : black;
$grey : grey;
$darkGrey: darkgrey;

/*History Game*/
$history-card-background : peachpuff;

/*Game*/
$stats-Background: #4A7DB5;
$tile-background: $grey;
$tile-focus-background: $darkGrey;
$tile-text: black;

/*New game*/
$background: black;
$newGame-Background: linear-gradient($grey, $background);
$groupSection-border: #4A7DB5
